@font-face
{
	font-family: 'roboto_slabbold';
	src: url('fonts/RobotoSlab-Bold.eot');
	src: url('fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/RobotoSlab-Bold.woff') format('woff'), url('fonts/RobotoSlab-Bold.ttf') format('truetype'), url('fonts/RobotoSlab-Bold.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_slablight';
	src: url('fonts/RobotoSlab-Light.eot');
	src: url('fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'), url('fonts/RobotoSlab-Light.woff') format('woff'), url('fonts/RobotoSlab-Light.ttf') format('truetype'), url('fonts/RobotoSlab-Light.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_slabregular';
	src: url('fonts/RobotoSlab-Regular.eot');
	src: url('fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/RobotoSlab-Regular.woff') format('woff'), url('fonts/RobotoSlab-Regular.ttf') format('truetype'), url('fonts/RobotoSlab-Regular.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_slabthin';
	src: url('fonts/RobotoSlab-Thin.eot');
	src: url('fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/RobotoSlab-Thin.woff') format('woff'), url('fonts/RobotoSlab-Thin.ttf') format('truetype'), url('fonts/RobotoSlab-Thin.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_regular';
	src: url('fonts/roboto/Roboto-Regular.eot');
	src: url('fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Regular.woff') format('woff'), url('fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_light';
	src: url('fonts/roboto/Roboto-Light.eot');
	src: url('fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Light.woff') format('woff'), url('fonts/roboto/Roboto-Light.ttf') format('truetype'), url('fonts/roboto/Roboto-Light.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_bold';
	src: url('fonts/roboto/Roboto-Bold.eot');
	src: url('fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Bold.woff') format('woff'), url('fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('fonts/roboto/Roboto-Bold.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face
{
	font-family: 'roboto_medium';
	src: url('fonts/roboto/Roboto-Medium.eot');
	src: url('fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Medium.woff') format('woff'), url('fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('fonts/roboto/Roboto-Medium.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;

}