@font-face {
    font-family: 'segoe_scriptregular';
    src: url('../fonts/segoe_script-webfont.eot');
    src: url('../fonts/segoe_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoe_script-webfont.woff') format('woff'),
         url('../fonts/segoe_script-webfont.ttf') format('truetype'),
         url('../fonts/segoe_script-webfont.svg#segoe_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova-regular-webfont.woff') format('woff'),
	url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
	url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'proxima_novalight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova-light-webfont.woff') format('woff'),
	url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
	url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
    font-family: 'museo_slab500';
    src: url('../fonts/museo_slab_500-webfont.eot');
    src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo_slab_500-webfont.woff') format('woff'),
    url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
    url('../fonts/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_slab300';
    src: url('../fonts/museo_slab_300-webfont.eot');
    src: url('../fonts/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo_slab_300-webfont.woff') format('woff'),
    url('../fonts/museo_slab_300-webfont.ttf') format('truetype'),
    url('../fonts/museo_slab_300-webfont.svg#museo_slab300') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'museo_slab100';
	src: url('../fonts/museo_slab_100-webfont.eot');
	src: url('../fonts/museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo_slab_100-webfont.woff') format('woff'),
	url('../fonts/museo_slab_100-webfont.ttf') format('truetype'),
	url('../fonts/museo_slab_100-webfont.svg#museo_slab100') format('svg');
	font-weight: normal;
	font-style: normal;

}


