.forgot_pass_container{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.forgot_pass_line{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.forgot_pass_line input{
	margin: 0 !important;
}

.card_info_wrapper{
	text-align: left;
	padding-left: 255px;
}

.node-page{
	width: 960px;
	margin: 0 auto;
}

.fl_l{
	float: left;
	margin-right: 3px;
}

.advanced_search_block{
	display: none;
}
.successMessage{
	color:forestgreen;
	font-size: 12px;
	margin-bottom: 10px;
}

.response_message_error{
	margin-top: 20px;
}

.total_amount_per_unit {
	font-size: 13px;
	color: #6c6c6c;
	margin-left: 15px;
	margin-bottom: 5px;
	font-family: 'museo_slab500';
	position: relative;
	margin-left: 0;
	margin-top: 10px;
}
.price_amount{
	color:orange;
	display:inline;
}

.catalog_detail__price__form{
	clear: both;
}

.catalog_detail__price__form .btn-group.bootstrap-select{
	float: left !important;
}

.catalog_detail__price__form .btn-group.bootstrap-select button{
	height: 38px;
}

tr.auction_winner {
	background-color: #FAF5D5;
}
.active_deal{
	font-family: Arial, sans-serif;
	color: #9d9d9d;
	font-size: 12px;
}
.card_detail__tabs_content.card_detail__tab_comments li{
	border-bottom: 1px solid #ededed;
}
.feed_link{
	font-size: 13px !important;
}
.rate_feed{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #6c6c6c;
}
.margin_feed{
	margin-left: 30px !important;
}

.catalog_detail__price_container .form_of_mass .subscribe_button{width: 266px;}

.catalog_detail__price_container .form_of_mass #subscribe_email{width: 266px;}

.row.type_inline #types .hor{margin-top: -2px; }
.row.type_inline #types label{display: inline; margin-left: 4px;}
.col_filter{
	width: 178px !important;
}
.col_margin{
	margin-left: 43px !important;
}
.login_margin{
	margin-left: 139px !important;
}
.card_detail__foot_info{
	margin-left: 105px !important;
}
.auction_list__container span.empty{
	color: #6c6c6c !important;
	font-size: 12px !important;
	font-family: 'proxima_nova_rgregular' !important;
	font-style: italic !important;
	margin: 0 0 0 45% !important;
}
.no_margin{
	margin-left:0px !important;
}
.orng{
	color: #ff9000;
}
.auction_list___main_list_catalog__item{
	height: 255px;
}
.au_height{
	height:auto !important;
}
.error_msg{
	color: #5c5c5c;
	font-size: 50px;
	font-family: 'proxima_nova_rgregular';
	text-transform: uppercase;
}
.img_error{
	height: 154px;
}
.error{
	color: #5c5c5c;
	font-size: 23px;
	font-family: 'proxima_nova_rgregular';
	margin: 0 0 35px 0
}
.mar_for_green{
	margin-top:10px;
 }

#cancel-invoice-popup-form .popup__content{
	width:400px;

}
#cancel-invoice-popup-form .popup_form_row{
	text-align:center;

}
#cancel-invoice-popup-form .popup_inner{
	width:400px;

}
.payment_invoice_cancel_title{
	font-size:23px;

}
.any_ul_class{
	margin-bottom:0 !important;
}
.auction_list__sidebar__title{
	margin-top:20px;

}
.tytle_first {
	margin-top:0 !important;
}
.file_upload{
	filter: alpha(opacity=0);
	opacity: 0;
}
.upload-file-container {
	background: url(../images/btn/custom-file-input.png) no-repeat;
	width: 170px;
	height: 41px;
	display: inline-block;
}
.upload-file-container input.file_upload{
	width: 170px;
}
.finish_import{
	position: relative;
	left: 56%;
	top: 10px;
}
.load_btn{
	display: inline-block;
	vertical-align: top;
}
.load_btn_item{
	margin-top: 1px;
	width: 80px;
	height: 36px !important;

}
.text_upload{
	color: #6c6c6c;
	font-size: 17px;
}
.gre_btn_text{
	margin-left: 0 !important;

}
.avatar_label{
	float:left;
}
.avatar_another_class{
	width:257px !important;
	margin-bottom:14px;
}
.avatar_image_class{
	margin-left: 174px !important;

}
.new_css_class{
	position:relative;
	top:5px;

}
.singup__right_new_class{
	border:none !important;

}
.singup__right_info_new_class{
	margin-right:99px;
}
.green_ntns_class{
	margin-top:0 !important;

}
.popup_title_1{
	text-align:left !important;

}
.new_form_recovery{
	margin-left:106px;
}
.pager_lk li a{
	padding:0 !important;
	color: #161515 !important;
	font-size: 11px !important;
	border:none !important;
	text-decoration:underline;
	margin: 0 3px !important;

}
.pager_lk li.next a{
	float:none !important;
}

.selected a{
	font-weight:bold !important;
	text-decoration:none !important;

}
.top_preview_en{
		overflow:hidden;

}
#minus_margin{
	margin-top: -25px;
}
#invoices-grid{
	margin-left: -150px;
}
div.dynamicForm{
    border: 4px ridge orange;
}