@CHARSET "UTF-8";
.ui-widget
{
	font-size: 1em;
}

#dialog-form label, #dialog-form input
{
	display: block;
}

#dialog-form input.text
{
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

#dialog-form fieldset
{
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.ui-widget .ui-widget
{
	font-size: 0.8em;
}